include README.rst
include MANIFEST.in
include CHANGELOG.rst
include setup.py

include merge_table.egg-info/PKG-INFO
include merge_table.egg-info/SOURCES.txt
include merge_table.egg-info/dependency_links.txt
include merge_table.egg-info/requires.txt
include merge_table.egg-info/top_level.txt
include merge_table.egg-info/zip-safe

include merge_table/__init__.py
include merge_table/base.py
